@model DAL.Models.NguoiDung

@{
    ViewData["Title"] = "DetailNguoiDung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DetailNguoiDung</h1>

<div>
    <h4>NguoiDung</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaLoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaLoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoLot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoLot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sdt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sdt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatKhau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatKhau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgAvt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgAvt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgBg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgBg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BiDanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BiDanh)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "UpdateNguoiDung", new { id = Model.MaNd }) |
    <a asp-action="Index">Back to List</a>
</div>
